<nav class="menu">
  <ul>
    <li class="menu-item">
      <a href="/">
        <span class="menu-item-span"></span>
        <span class="menu-item-span"></span>
        <span class="menu-item-span"></span>
        <span class="menu-item-span"></span>
        Peliculas
      </a>
    </li>
  </ul>
  <a href="new-user"><i class="fas fa-user-plus" style="color: aliceblue; margin: 0 1em; font-size: 1.5em;"></i></a>
  <a href="#"><i class="fas fa-user " style="color: aliceblue; margin: 0 1em; font-size: 1.5em;"></i></a>
  <a href="#"><i class="fas fa-times"style="color: aliceblue; margin: 0 1em; font-size: 1.5em;"></i></a>
  <a href="#"><i class="fas fa-list-ul" style="color: aliceblue; margin: 0 1em; font-size: 1.5em;"></i>Lista</a>
</nav>