<form action="/new-user" method="POST">
    <input type="text" placeholder="Ingrese su nombre" name="nombre" autofocus>
    <input type="password" name="password" placeholder="ingrese su contraseña">
    <input type="password" name="password_confirm" placeholder="repita su contraseña">
    <input type="email" name="email" placeholder="example@correo.com">
    <button>Registrar</button>
</form>